@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #e1bbc8; */
  /* background-image: linear-gradient(0deg, #5ab8f7 0%, #f493ef 100%); */
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  border-bottom: solid gray;
   /* position:static;
  top: 0px;  */
}

.nav-link{
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid red;
}
.navbar-brand {
  font-weight: 600;
  font-family: 'roboto';
  color: blue;
}


/* =================Footer================ */

 .footer{
  padding: 25px;
  color: rgb(210, 215, 239);
  background-color: rgb(50, 25, 150);
  background: -webkit-linear-gradient(
    to right,
    rgb(192, 140, 192),
    rgb(50, 25, 150)
  );
  background: linear-gradient(
    to right,
    rgb(192, 140, 192),
    rgb(50, 25, 150)
  );
 }
 .footer a {
  text-decoration: none;
  color: rgb(210, 215, 239);;
  font-size: 20px;
  padding: 10px;

 }

 .footer a:hover {
     color: bisque;
     border-bottom: 2px solid red;
 }

/* ================Page not found======= */
.pnf{
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 6%;
}
.pnfBtn {
  margin-top: 15px;
}
.pnfBtn button {
  border: 1px solid black;
  padding: 7px;
  border-radius: 8px;
}

/* ====================CONTACT US=============== */

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cntH1 {
  border: 1px solid black;
  text-align: center;
  background-color: rgb(85, 85, 238);
  color: white;
  border-radius: 6px;
}

/* =========================About me====================== */

.abtH1{
  background-color: rgb(95, 187, 3);
  text-align: center;
  color: rgb(238, 238, 219);
  border-radius: 6px;
  border: 1px solid yellow;
}

/* =====================Register css======================== */

